<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chef Details</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            padding: 5px;
            margin: 5px 0;
            background-color: #f5f5f5;
            border-radius: 3px;
        }
    </style>
</head>
<body>
<!-- Dynamically display data -->
<header>
    <h1>Chef: <span th:text="${chefName}"></span></h1>
</header>
<section>
    <h2>Bio: <span th:text="${chefBio}"></span></h2>
    <h2>Dishes prepared by this chef:</h2>
    <ul th:each="dish : ${dishes}">
        <li th:text="${dish.getName()} + '(' + ${dish.getCuisine()} + ', ' + ${dish.getPreparationTime()} + ' min)'"></li>
    </ul>
</section>
</body>
</html>